In [1]:
import pandas as pd

In [2]:
df_bangalore = pd.read_csv('bangalore_cars_output.csv')
df_chennai = pd.read_csv('chennai_cars_output.csv')
df_delhi = pd.read_csv('delhi_cars_output.csv')
df_hyderabad = pd.read_csv('hyderabad_cars_output.csv')
df_jaipur = pd.read_csv('jaipur_cars_output.csv')
df_kolkata = pd.read_csv('kolkata_cars_output.csv')

C:\Users\Siva\AppData\Local\Temp\ipykernel_20528\4199036369.py:1: DtypeWarning: Columns (1,2,3,4,6,7,8,11,12,13,16,17,18,19,20,21,22,23,24,25,26,27,29,30,35,36,37,38,40,41,43,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,63,64,65,66,67,68,69,71,72,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bangalore = pd.read_csv('bangalore_cars_output.csv')
C:\Users\Siva\AppData\Local\Temp\ipykernel_20528\4199036369.py:2: DtypeWarning: Columns (1,2,3,4,6,7,8,11,12,13,16,17,18,19,20,21,22,23,24,25,26,27,29,30,35,36,37,38,40,41,43,46,47,48,49,50,51,52,53,54,56,57,58,59,60,62,63,64,65,66,67,68,69,70,71,72,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df_chennai = pd.read_csv('chennai_cars_output.csv')
C:\Users\Siva\AppData\Local\Temp\ipykernel_20528\4199036369.py:3: DtypeWarning: Columns (1,2,3,4,6,7,8,11,12,13,16,17,18,19,20,21,22,23,24,25,26,28,29,30,35,36,37,38,39,41,42,44,47,48,49,50,51,52,53,54,55,57,58,59,60,61,63,64,65,66,67,68,69,70,71,72,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df_delhi = pd.read_csv('delhi_cars_output.csv')
C:\Users\Siva\AppData\Local\Temp\ipykernel_20528\4199036369.py:4: DtypeWarning: Columns (1,2,3,4,6,7,8,11,12,13,16,17,18,19,20,21,22,23,24,25,26,27,29,30,35,36,37,38,39,41,42,44,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,64,65,66,67,68,69,71,72,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df_hyderabad = pd.read_csv('hyderabad_cars_output.csv')
C:\Users\Siva\AppData\Local\Temp\ipykernel_20528\4199036369.py:5: DtypeWarning: Columns (1,2,3,4,6,7,8,11,12,13,16,17,18,19,20,21,22,23,24,25,26,27,29,30,35,36,37,38,39,41,42,44,47,48,49,50,51,52,53,54,55,56,57,58,59,61,62,63,64,65,66,67,68,70,71,72,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jaipur = pd.read_csv('jaipur_cars_output.csv')
C:\Users\Siva\AppData\Local\Temp\ipykernel_20528\4199036369.py:6: DtypeWarning: Columns (1,2,3,4,6,7,8,11,12,13,16,17,18,19,20,21,22,23,24,25,26,27,29,30,35,36,37,38,39,41,42,44,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,63,64,65,66,67,68,70,71,72,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df_kolkata = pd.read_csv('kolkata_cars_output.csv')

In [3]:
df_bangalore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99633 entries, 0 to 99632
Data columns (total 75 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   it                        1481 non-null   float64
 1   ft                        1481 non-null   object
 2   bt                        1481 non-null   object
 3   km                        1481 non-null   object
 4   transmission              1481 non-null   object
 5   ownerNo                   1481 non-null   float64
 6   owner                     1481 non-null   object
 7   oem                       1481 non-null   object
 8   model                     1481 non-null   object
 9   modelYear                 1481 non-null   float64
 10  centralVariantId          1481 non-null   float64
 11  variantName               1481 non-null   object
 12  price                     1481 non-null   object
 13  priceActual               311 non-null    object
 14  priceSaving               0 non-null      float64
 15  priceFixedText            0 non-null      float64
 16  trendingText_imgUrl       1481 non-null   object
 17  trendingText_heading      1481 non-null   object
 18  trendingText_desc         1481 non-null   object
 19  Registration Year         1474 non-null   object
 20  Insurance Validity        1478 non-null   object
 21  Fuel Type                 1481 non-null   object
 22  Seats                     1480 non-null   object
 23  Kms Driven                1481 non-null   object
 24  RTO                       1313 non-null   object
 25  Ownership                 1481 non-null   object
 26  Engine Displacement       1478 non-null   object
 27  Transmission              1481 non-null   object
 28  Year of Manufacture       1474 non-null   float64
 29  value                     13040 non-null  object
 30  commonIcon                13040 non-null  object
 31  value.1                   99633 non-null  object
 32  heading                   99633 non-null  object
 33  subHeading                99633 non-null  object
 34  commonIcon.1              99633 non-null  object
 35  Mileage                   1439 non-null   object
 36  Engine                    1478 non-null   object
 37  Max Power                 1465 non-null   object
 38  Torque                    1465 non-null   object
 39  Seats.1                   1480 non-null   float64
 40  Color                     1479 non-null   object
 41  Engine Type               1423 non-null   object
 42  Displacement              1478 non-null   float64
 43  Max Torque                1465 non-null   object
 44  No of Cylinder            1475 non-null   float64
 45  Values per Cylinder       1470 non-null   float64
 46  Value Configuration       1091 non-null   object
 47  Fuel Suppy System         1184 non-null   object
 48  BoreX Stroke              383 non-null    object
 49  Compression Ratio         317 non-null    object
 50  Turbo Charger             1288 non-null   object
 51  Super Charger             1142 non-null   object
 52  Length                    1460 non-null   object
 53  Width                     1460 non-null   object
 54  Height                    1460 non-null   object
 55  Wheel Base                1446 non-null   object
 56  Front Tread               882 non-null    object
 57  Rear Tread                879 non-null    object
 58  Kerb Weight               1467 non-null   object
 59  Gross Weight              688 non-null    object
 60  Gear Box                  1457 non-null   object
 61  Drive Type                1182 non-null   object
 62  Seating Capacity          1480 non-null   float64
 63  Steering Type             1448 non-null   object
 64  Turning Radius            1198 non-null   object
 65  Front Brake Type          1460 non-null   object
 66  Rear Brake Type           1460 non-null   object
 67  Top Speed                 809 non-null    object
 68  Acceleration              848 non-null    object
 69  Tyre Type                 1471 non-null   object
 70  No Door Numbers           1479 non-null   float64
 71  Cargo Volumn              1198 non-null   object
 72  Wheel Size                1029 non-null   object
 73  Alloy Wheel Size          1029 non-null   object
 74  Ground Clearance Unladen  87 non-null     object
dtypes: float64(13), object(62)
memory usage: 57.0+ MB

In [4]:
df_bangalore['City'] = 'Bangalore' 
df_chennai['City'] = 'Chennai'
df_delhi['City'] = 'Delhi'
df_hyderabad['City'] = 'Hyderabad'
df_jaipur['City'] = 'Jaipur'
df_kolkata['City'] = 'Kolkata'

In [5]:
# Drop columns multiple column 
df_bangalore = df_bangalore.drop(['trendingText_imgUrl', 'trendingText_heading', 'trendingText_desc', 
                                  'commonIcon', 'value.1', 'heading', 'subHeading', 'commonIcon.1'], axis=1)

df_chennai = df_chennai.drop(['trendingText_imgUrl', 'trendingText_heading', 'trendingText_desc', 
                                  'commonIcon', 'value.1', 'heading', 'subHeading', 'commonIcon.1'], axis=1)

df_delhi = df_delhi.drop(['trendingText_imgUrl', 'trendingText_heading', 'trendingText_desc', 
                                  'commonIcon', 'value.1', 'heading', 'subHeading', 'commonIcon.1'], axis=1)

df_hyderabad = df_hyderabad.drop(['trendingText_imgUrl', 'trendingText_heading', 'trendingText_desc', 
                                  'commonIcon', 'value.1', 'heading', 'subHeading', 'commonIcon.1'], axis=1)

df_jaipur = df_jaipur.drop(['trendingText_imgUrl', 'trendingText_heading', 'trendingText_desc', 
                                  'commonIcon', 'value.1', 'heading', 'subHeading', 'commonIcon.1'], axis=1)

df_kolkata = df_kolkata.drop(['trendingText_imgUrl', 'trendingText_heading', 'trendingText_desc', 
                                  'commonIcon', 'value.1', 'heading', 'subHeading', 'commonIcon.1'], axis=1)

In [6]:
df_bangalore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99633 entries, 0 to 99632
Data columns (total 68 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   it                        1481 non-null   float64
 1   ft                        1481 non-null   object
 2   bt                        1481 non-null   object
 3   km                        1481 non-null   object
 4   transmission              1481 non-null   object
 5   ownerNo                   1481 non-null   float64
 6   owner                     1481 non-null   object
 7   oem                       1481 non-null   object
 8   model                     1481 non-null   object
 9   modelYear                 1481 non-null   float64
 10  centralVariantId          1481 non-null   float64
 11  variantName               1481 non-null   object
 12  price                     1481 non-null   object
 13  priceActual               311 non-null    object
 14  priceSaving               0 non-null      float64
 15  priceFixedText            0 non-null      float64
 16  Registration Year         1474 non-null   object
 17  Insurance Validity        1478 non-null   object
 18  Fuel Type                 1481 non-null   object
 19  Seats                     1480 non-null   object
 20  Kms Driven                1481 non-null   object
 21  RTO                       1313 non-null   object
 22  Ownership                 1481 non-null   object
 23  Engine Displacement       1478 non-null   object
 24  Transmission              1481 non-null   object
 25  Year of Manufacture       1474 non-null   float64
 26  value                     13040 non-null  object
 27  Mileage                   1439 non-null   object
 28  Engine                    1478 non-null   object
 29  Max Power                 1465 non-null   object
 30  Torque                    1465 non-null   object
 31  Seats.1                   1480 non-null   float64
 32  Color                     1479 non-null   object
 33  Engine Type               1423 non-null   object
 34  Displacement              1478 non-null   float64
 35  Max Torque                1465 non-null   object
 36  No of Cylinder            1475 non-null   float64
 37  Values per Cylinder       1470 non-null   float64
 38  Value Configuration       1091 non-null   object
 39  Fuel Suppy System         1184 non-null   object
 40  BoreX Stroke              383 non-null    object
 41  Compression Ratio         317 non-null    object
 42  Turbo Charger             1288 non-null   object
 43  Super Charger             1142 non-null   object
 44  Length                    1460 non-null   object
 45  Width                     1460 non-null   object
 46  Height                    1460 non-null   object
 47  Wheel Base                1446 non-null   object
 48  Front Tread               882 non-null    object
 49  Rear Tread                879 non-null    object
 50  Kerb Weight               1467 non-null   object
 51  Gross Weight              688 non-null    object
 52  Gear Box                  1457 non-null   object
 53  Drive Type                1182 non-null   object
 54  Seating Capacity          1480 non-null   float64
 55  Steering Type             1448 non-null   object
 56  Turning Radius            1198 non-null   object
 57  Front Brake Type          1460 non-null   object
 58  Rear Brake Type           1460 non-null   object
 59  Top Speed                 809 non-null    object
 60  Acceleration              848 non-null    object
 61  Tyre Type                 1471 non-null   object
 62  No Door Numbers           1479 non-null   float64
 63  Cargo Volumn              1198 non-null   object
 64  Wheel Size                1029 non-null   object
 65  Alloy Wheel Size          1029 non-null   object
 66  Ground Clearance Unladen  87 non-null     object
 67  City                      99633 non-null  object
dtypes: float64(13), object(55)
memory usage: 51.7+ MB

In [7]:
df_all_cities = pd.concat([df_bangalore, df_chennai, df_delhi, df_hyderabad, df_jaipur, df_kolkata], ignore_index=True)

In [8]:
df_all_cities.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Alloy Wheel Size,Ground Clearance Unladen,City
0,0.0,Petrol,Hatchback,"1,20,000",Manual,3.0,3rd Owner,Maruti,Maruti Celerio,2015.0,...,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5.0,235-litres,NaN,NaN,NaN,Bangalore
1,0.0,Petrol,SUV,"32,706",Manual,2.0,2nd Owner,Ford,Ford Ecosport,2018.0,...,Drum,NaN,NaN,"Tubeless,Radial",4.0,352-litres,16,16,NaN,Bangalore
2,0.0,Petrol,Hatchback,"11,949",Manual,1.0,1st Owner,Tata,Tata Tiago,2018.0,...,Drum,150 kmph,14.3 Seconds,Tubeless,5.0,242-litres,14,14,NaN,Bangalore
3,0.0,Petrol,Sedan,"17,794",Manual,1.0,1st Owner,Hyundai,Hyundai Xcent,2014.0,...,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4.0,407-litres,14,14,NaN,Bangalore
4,0.0,Diesel,SUV,"60,000",Manual,1.0,1st Owner,Maruti,Maruti SX4 S Cross,2015.0,...,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5.0,353-litres,16,16,NaN,Bangalore

In [9]:

# Fill missing values in numerical columns with the mean
numerical_cols = df_all_cities.select_dtypes(include=['number']).columns
df_all_cities[numerical_cols] = df_all_cities[numerical_cols].apply(lambda col: col.fillna(col.mean()))

# Fill missing values in categorical columns with mode
categorical_cols = df_all_cities.select_dtypes(include=['object', 'category']).columns
df_all_cities[categorical_cols] = df_all_cities[categorical_cols].apply(lambda col: col.fillna(col.mode()[0]))

# Alternatively, create a new category 'Missing' for categorical columns
# df[categorical_cols] = df[categorical_cols].apply(lambda col: col.fillna('Missing'))

In [10]:
df_all_cities.head(20)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Alloy Wheel Size,Ground Clearance Unladen,City
0,0.0,Petrol,Hatchback,"1,20,000",Manual,3.0,3rd Owner,Maruti,Maruti Celerio,2015.0,...,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5.0,235-litres,16,16,190mm,Bangalore
1,0.0,Petrol,SUV,"32,706",Manual,2.0,2nd Owner,Ford,Ford Ecosport,2018.0,...,Drum,165 Kmph,10 Seconds,"Tubeless,Radial",4.0,352-litres,16,16,190mm,Bangalore
2,0.0,Petrol,Hatchback,"11,949",Manual,1.0,1st Owner,Tata,Tata Tiago,2018.0,...,Drum,150 kmph,14.3 Seconds,Tubeless,5.0,242-litres,14,14,190mm,Bangalore
3,0.0,Petrol,Sedan,"17,794",Manual,1.0,1st Owner,Hyundai,Hyundai Xcent,2014.0,...,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4.0,407-litres,14,14,190mm,Bangalore
4,0.0,Diesel,SUV,"60,000",Manual,1.0,1st Owner,Maruti,Maruti SX4 S Cross,2015.0,...,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5.0,353-litres,16,16,190mm,Bangalore
5,0.0,Diesel,SUV,"20,000",Manual,1.0,1st Owner,Jeep,Jeep Compass,2020.0,...,Discs,165 Kmph,10 Seconds,"Radial, Tubless",5.0,408-litres,17,17,190mm,Bangalore
6,0.0,Petrol,Hatchback,"37,772",Manual,1.0,1st Owner,Datsun,Datsun GO,2017.0,...,Drum,150 Kmph,13.3 Seconds,Tubeless,5.0,265-litres,16,16,190mm,Bangalore
7,0.0,Petrol,SUV,"30,000",Automatic,1.0,1st Owner,Hyundai,Hyundai Venue,2021.0,...,Drum,165 Kmph,10 Seconds,Radial,5.0,350,16,16,190mm,Bangalore
8,0.0,Petrol,Sedan,"37,000",Automatic,1.0,1st Owner,Maruti,Maruti Ciaz,2018.0,...,Drum,165 Kmph,10 Seconds,"Tubeless, Radial",4.0,510-litres,16,16,190mm,Bangalore
9,0.0,Petrol,Hatchback,"11,949",Manual,1.0,1st Owner,Tata,Tata Tiago,2017.0,...,Drum,150 kmph,14.3 Seconds,Tubeless,5.0,242-litres,16,16,190mm,Bangalore
10,0.0,Petrol,Hatchback,"50,000",Manual,1.0,1st Owner,Maruti,Maruti Baleno,2018.0,...,Drum,180 Kmph,12.36 seconds,"Tubeless,Radial",5.0,339-litres,16,16,190mm,Bangalore
11,0.0,Petrol,Hatchback,"24,887",Automatic,1.0,1st Owner,Hyundai,Hyundai Grand i10,2019.0,...,Drum,165 Kmph,12.9 Seconds,Tubeless,5.0,256,14,14,190mm,Bangalore
12,0.0,Petrol,Hatchback,"23,000",Automatic,1.0,1st Owner,Honda,Honda Jazz,2018.0,...,Drum,172 Kmph,13.7 Seconds,"Tubeless,Radial",5.0,354-litres,15,15,190mm,Bangalore
13,0.0,Petrol,Hatchback,"48,928",Automatic,1.0,1st Owner,Tata,Tata Tiago,2018.0,...,Drum,150 kmph,10 Seconds,Tubeless,5.0,242-litres,14,14,190mm,Bangalore
14,0.0,Diesel,SUV,"1,08,862",Manual,3.0,3rd Owner,Mahindra,Mahindra XUV500,2014.0,...,Disc & Caliper Type,175 kmph,12.5 Seconds,"Tubeless,Radial",5.0,510-litres,16,16,190mm,Bangalore
15,0.0,Diesel,SUV,"80,000",Manual,1.0,1st Owner,Jeep,Jeep Compass,2018.0,...,Discs,165 Kmph,10 Seconds,"Radial, Tubless",5.0,408-litres,17,17,190mm,Bangalore
16,0.0,Diesel,SUV,"16,000",Automatic,1.0,1st Owner,Mercedes-Benz,Mercedes-Benz GLA,2022.0,...,Disc,219kmph,7.3sec,"Tubeless,Radial",5.0,510-litres,19,19,190mm,Bangalore
17,0.0,Diesel,Hatchback,"65,376",Manual,2.0,2nd Owner,Hyundai,Hyundai i20,2014.0,...,Disc,165 Kmph,10 Seconds,"Tubeless,Radial",5.0,510-litres,14,14,190mm,Bangalore
18,0.0,Petrol,SUV,"10,000",Manual,1.0,1st Owner,Tata,Tata Nexon,2022.0,...,Drum,165 Kmph,10 Seconds,"Tubeless,Radial",5.0,350,16,16,190mm,Bangalore
19,0.0,Petrol,Sedan,"67,000",Manual,2.0,2nd Owner,Honda,Honda City,2016.0,...,Drum,195 Kmph,10 Seconds,"Tubeless,Radial",4.0,510-litres,15,15,190mm,Bangalore

In [11]:
df_all_cities['price'].head(20)

0         ₹ 4 Lakh
1      ₹ 8.11 Lakh
2      ₹ 5.85 Lakh
3      ₹ 4.62 Lakh
4      ₹ 7.90 Lakh
5        ₹ 19 Lakh
6      ₹ 3.45 Lakh
7        ₹ 12 Lakh
8      ₹ 9.60 Lakh
9      ₹ 5.85 Lakh
10     ₹ 6.90 Lakh
11     ₹ 6.82 Lakh
12     ₹ 8.25 Lakh
13     ₹ 5.95 Lakh
14     ₹ 6.90 Lakh
15    ₹ 13.50 Lakh
16    ₹ 55.95 Lakh
17     ₹ 5.21 Lakh
18    ₹ 10.05 Lakh
19     ₹ 7.75 Lakh
Name: price, dtype: object

In [12]:
df = df_all_cities

In [14]:
# Function to handle different formats
def convert_to_numeric(price_str):
    if isinstance(price_str, str):
        # Remove currency symbol and commas
        price_str = price_str.replace('₹', '').replace(',', '')
        
        # Determine multiplier based on suffix
        if 'Lakh' in price_str:
            price_str = price_str.replace(' Lakh', '').strip()
            multiplier = 100000
        elif 'Crore' in price_str:
            price_str = price_str.replace(' Crore', '').strip()
            multiplier = 10000000
        else:
            multiplier = 1
        
        # Convert to float and apply the multiplier
        try:
            return float(price_str) * multiplier
        except ValueError:
            return None

    return None

# Apply the function to the 'price' column
df['price'] = df['price'].apply(convert_to_numeric)
df['priceActual'] = df['priceActual'].apply(convert_to_numeric)

In [15]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from scipy import stats

# 1. Standardize Data Formats
df['km'] = df['km'].str.replace(' kms', '')  # Remove ' kms'
df['km'] = df['km'].str.replace(',', '')  # Remove commas
df['km'] = df['km'].astype(float)  # Convert to float

In [16]:
# Identify categorical columns (example columns; adjust as necessary)
nominal_columns = ['transmission', 'owner', 'oem', 'model', 'variantName', 'Fuel Type', 'Color', 'Engine Type']
ordinal_columns = ['Seats', 'No of Cylinder', 'Gear Box', 'Drive Type', 'Seating Capacity']

# 2. Encode Categorical Variables
# One-Hot Encoding for Nominal Categories
df = pd.get_dummies(df, columns=nominal_columns, drop_first=True)

# Label Encoding for Ordinal Categories
label_encoder = LabelEncoder()
for col in ordinal_columns:
    df[col] = label_encoder.fit_transform(df[col])

# Alternatively, for custom ordinal mapping:
# Example ordinal mapping for 'Seats' column (adjust values as necessary)
# seats_mapping = {'2': 1, '4': 2, '5': 3, '7': 4}
# df['Seats'] = df['Seats'].map(seats_mapping)

In [17]:
# Drop columns NaN columns
df = df.drop(['priceSaving', 'priceTrendingText'], axis=1, errors='ignore')

In [18]:

# Identify numerical columns that require cleaning (example columns; adjust as necessary)
numerical_columns_with_units = [
    'Engine Displacement',  # Example column with "cc" units
    # Add other similar columns that have units or text with numeric data
]

# Function to clean the numerical columns
def clean_numerical_column(column):
    # Ensure column is of string type
    column = column.astype(str)
    # Remove any non-numeric characters (like "cc" or "kms")
    column = column.str.replace(r'[^\d.]', '', regex=True)
    # Convert to float
    return pd.to_numeric(column, errors='coerce')

# Apply the cleaning function to the specified columns
df[numerical_columns_with_units] = df[numerical_columns_with_units].apply(clean_numerical_column)

# Add other numerical columns that don't need unit removal
numerical_columns = [
    'km', 'price', 'priceActual', 'Mileage', 
    'Max Power', 'Torque', 'Length', 'Width', 'Height', 
    'Wheel Base', 'Front Tread', 'Rear Tread', 'Kerb Weight', 'Gross Weight'
]

# Combine both cleaned and non-cleaned numerical columns
all_numerical_columns = numerical_columns + numerical_columns_with_units

# Check data types of all numerical columns to ensure they are float
for col in all_numerical_columns:
    if df[col].dtype != 'float64':
        df[col] = pd.to_numeric(df[col], errors='coerce')

# Check for any remaining non-numeric values
print(df[all_numerical_columns].info())

# Drop rows with NaN values if needed
#df = df.dropna(subset=all_numerical_columns)

# 3. Normalize Numerical Features

# Option 1: Min-Max Scaling
min_max_scaler = MinMaxScaler()
df[all_numerical_columns] = min_max_scaler.fit_transform(df[all_numerical_columns])

# Option 2: Standard Scaling (uncomment if you want to use this instead)
#standard_scaler = StandardScaler()
#df[all_numerical_columns] = standard_scaler.fit_transform(df[all_numerical_columns])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552269 entries, 0 to 552268
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   km                   552269 non-null  float64
 1   price                552269 non-null  float64
 2   priceActual          552269 non-null  float64
 3   Mileage              0 non-null       float64
 4   Max Power            0 non-null       float64
 5   Torque               159 non-null     float64
 6   Length               324 non-null     float64
 7   Width                1035 non-null    float64
 8   Height               1038 non-null    float64
 9   Wheel Base           990 non-null     float64
 10  Front Tread          465 non-null     float64
 11  Rear Tread           465 non-null     float64
 12  Kerb Weight          3206 non-null    float64
 13  Gross Weight         575 non-null     float64
 14  Engine Displacement  552269 non-null  int64
dtypes: float64(14), int64(1)
memory usage: 63.2 MB
None

C:\Users\Siva\miniconda3\Lib\site-packages\sklearn\utils\_array_api.py:701: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmin(X, axis=axis))
C:\Users\Siva\miniconda3\Lib\site-packages\sklearn\utils\_array_api.py:718: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmax(X, axis=axis))

In [19]:
print(f"DataFrame Shape: {df.shape}")

DataFrame Shape: (552269, 3230)

In [20]:
# IQR Method

# List of numerical columns
numerical_columns = [
    'km', 'price', 'priceActual', 'Mileage', 'Max Power', 'Torque', 
    'Length', 'Width', 'Height', 'Wheel Base', 'Front Tread', 
    'Rear Tread', 'Kerb Weight', 'Gross Weight'
]

# Remove columns not present in the DataFrame
numerical_columns = [col for col in numerical_columns if col in df.columns]

# Apply IQR method to each numerical column
for col in numerical_columns:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    df = df[~((df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR)))]

print("DataFrame after IQR outlier removal:")
print(df)

DataFrame after IQR outlier removal:
         it      ft         bt        km   ownerNo    modelYear  \
44      0.0  Petrol      Sedan  0.021818  1.000000  2013.000000
47      0.0  Diesel        SUV  0.021818  2.000000  2010.000000
59      0.0  Diesel        SUV  0.021818  2.000000  2010.000000
1171    0.0  Diesel      Sedan  0.021818  2.000000  2010.000000
1481    0.0  Petrol  Hatchback  0.021818  1.360139  2016.503286
...     ...     ...        ...       ...       ...          ...
552264  0.0  Petrol  Hatchback  0.021818  1.360139  2016.503286
552265  0.0  Petrol  Hatchback  0.021818  1.360139  2016.503286
552266  0.0  Petrol  Hatchback  0.021818  1.360139  2016.503286
552267  0.0  Petrol  Hatchback  0.021818  1.360139  2016.503286
552268  0.0  Petrol  Hatchback  0.021818  1.360139  2016.503286

        centralVariantId     price  priceActual  priceFixedText  ...  \
44            1471.00000  0.015184     0.170449             NaN  ...
47            5716.00000  0.015184     0.170449             NaN  ...
59            3700.00000  0.015184     0.170449             NaN  ...
1171          4692.00000  0.015184     0.170449             NaN  ...
1481          4962.53734  0.015184     0.170449             NaN  ...
...                  ...       ...          ...             ...  ...
552264        4962.53734  0.015184     0.170449             NaN  ...
552265        4962.53734  0.015184     0.170449             NaN  ...
552266        4962.53734  0.015184     0.170449             NaN  ...
552267        4962.53734  0.015184     0.170449             NaN  ...
552268        4962.53734  0.015184     0.170449             NaN  ...

       Engine Type_mHawk Diesel Engine Engine Type_mHawk155 Diesel Engine  \
44                               False                              False
47                               False                              False
59                               False                              False
1171                             False                              False
1481                             False                              False
...                                ...                                ...
552264                           False                              False
552265                           False                              False
552266                           False                              False
552267                           False                              False
552268                           False                              False

        Engine Type_mStallion Engine Type_mStallion 150 TGDi Engine  \
44                      False                                 False
47                      False                                 False
59                      False                                 False
1171                    False                                 False
1481                    False                                 False
...                       ...                                   ...
552264                  False                                 False
552265                  False                                 False
552266                  False                                 False
552267                  False                                 False
552268                  False                                 False

       Engine Type_sDrive20d Diesel Engine  \
44                                   False
47                                   False
59                                   False
1171                                 False
1481                                 False
...                                    ...
552264                               False
552265                               False
552266                               False
552267                               False
552268                               False

       Engine Type_water cooled inline 4 cylinder  \
44                                          False
47                                          False
59                                          False
1171                                        False
1481                                        False
...                                           ...
552264                                      False
552265                                      False
552266                                      False
552267                                      False
552268                                      False

        Engine Type_xDrive20d Diesel Engine  \
44                                    False
47                                    False
59                                    False
1171                                  False
1481                                  False
...                                     ...
552264                                False
552265                                False
552266                                False
552267                                False
552268                                False

       Engine Type_xDrive20d Diesel Engine   \
44                                    False
47                                    False
59                                    False
1171                                  False
1481                                  False
...                                     ...
552264                                False
552265                                False
552266                                False
552267                                False
552268                                False

        Engine Type_xDrive30d Diesel Engine  \
44                                    False
47                                    False
59                                    False
1171                                  False
1481                                  False
...                                     ...
552264                                False
552265                                False
552266                                False
552267                                False
552268                                False

       Engine Type_xDrive30d Diesel Engine
44                                    False
47                                    False
59                                    False
1171                                  False
1481                                  False
...                                     ...
552264                                False
552265                                False
552266                                False
552267                                False
552268                                False

[543908 rows x 3230 columns]

In [21]:

print(f"DataFrame Shape: {df.shape}")

DataFrame Shape: (543908, 3230)

In [22]:
# Save the DataFrame to a CSV file

df_all_cities.to_csv('All_cities.csv', index= False)